html,body{

    margin: 0;
    background-color: rgb(240, 157, 170);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.App{
    padding: 30px;
}

label{
    font-size: 21px;
    font-weight: 700;
}

textarea{
    outline:none;
    padding: 15px;
    width: 420px;
    height: 220px;
    border: 5px solid black;
    border-radius: 15px;
}



#previewTab{
    background-color: rgb(255, 224, 228);
    border-radius: 15px;
}